.image-text-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 2rem;
}

/* Estilos para o container da imagem */
.image-container img {
  flex-basis: 50%;
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* Estilos para o container do texto */
.text-container {
  flex-basis: 50%;
  max-width: 600px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  color: #202020;
}

.text-container h2 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0.6rem;
}

.text-container i {
  font-size: 2rem;
  padding-right: 0.8rem;
  gap: 1rem;
}

.text-container i:hover {
  color: #007bff;
}

.timeline {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
}

.timeline li {
  margin-bottom: 1rem;
  padding-left: 1.2rem;
  position: relative;
}

.timeline li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #007bff;
  font-size: 1.2rem;
}

.timeline span {
  font-weight: 600;
  color: #333;
}

/* Media Query para responsividade em telas menores */
@media screen and (max-width: 700px) {
  .image-text-section {
    flex-direction: column; /* Empilha a imagem e o texto verticalmente */
    text-align: center;
    padding: 3rem 1rem; /* Padding reduzido para telas pequenas */
  }

  .image-container {
    order: 1; /* Garante que a imagem venha primeiro */
    margin-bottom: 2rem; /* Adiciona um espaço abaixo da imagem */
  }

  .text-container {
    order: 2; /* Garante que o texto venha depois */
    padding-top: 0; /* Remove padding desnecessário */
  }
}
